<?xml version="1.0" ?>

<container xmlns="http://www.symfony-project.org/schema/dic/services"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.symfony-project.org/schema/dic/services http://www.symfony-project.org/schema/dic/services/services-1.0.xsd">

    <parameters>

        <parameter key="lichess.ai.class">Bundle\LichessBundle\Ai\Crafty</parameter>
        <parameter key="lichess.ai_fallback.class">Bundle\LichessBundle\Ai\Stupid</parameter>

        <parameter key="lichess.generator.class">Bundle\LichessBundle\Chess\Generator</parameter>

        <parameter key="lichess.anybody.connection_file">%kernel.root_dir%/cache/connect_anybody</parameter>

        <parameter key="lichess.synchronizer.class">Bundle\LichessBundle\Chess\Synchronizer</parameter>
        <parameter key="lichess.synchronizer.timeout">20</parameter>
        <parameter key="lichess.synchronizer.delay">1</parameter>
        <parameter key="lichess.animation.delay">400</parameter>

        <parameter key="lichess.pgn_dumper.class">Bundle\LichessBundle\Notation\PgnDumper</parameter>

        <parameter key="lichess.seek_queue.class">Bundle\LichessBundle\Chess\SeekQueue</parameter>

        <parameter key="templating.helper.lichess.class">Bundle\LichessBundle\Helper\LichessHelper</parameter>
        <parameter key="templating.helper.lichess_game.class">Bundle\LichessBundle\Helper\LichessGameHelper</parameter>

        <parameter key="session.storage.test.class">Bundle\LichessBundle\SessionStorage\TestSessionStorage</parameter>

    </parameters>

    <services>

        <service id="translation.loader.yml" class="Bundle\LichessBundle\Translation\Loader\YamlLoader">
            <tag name="translation.loader" alias="yml" />
        </service>

        <service id="templating.helper.lichess" class="%templating.helper.lichess.class%">
            <tag name="templating.helper" alias="lichess" />
            <argument type="service" id="lichess_synchronizer" />
        </service>

        <service id="templating.helper.lichess_game" class="%templating.helper.lichess_game.class%">
            <tag name="templating.helper" alias="lichess_game" />
            <argument type="service" id="service_container" />
        </service>

        <service id="lichess.seek_queue" class="%lichess.seek_queue.class%" shared="true">
            <argument type="service" id="lichess.object_manager" />
            <argument type="service" id="lichess.repository.seek" />
            <argument type="service" id="lichess_generator" />
            <argument type="service" id="lichess.blamer.player" />
        </service>

        <service id="lichess_ai" class="%lichess.ai.class%" shared="true">
        </service>

        <service id="lichess_ai_fallback" class="%lichess.ai_fallback.class%" shared="true">
        </service>

        <service id="lichess_generator" class="%lichess.generator.class%" shared="true">
        </service>

        <service id="lichess_synchronizer" class="%lichess.synchronizer.class%" shared="true">
            <argument>%lichess.synchronizer.timeout%</argument>
        </service>

        <service id="lichess_pgn_dumper" class="%lichess.pgn_dumper.class%" shared="true">
            <argument type="service" id="router" />
        </service>

        <service id="session.storage.test" class="%session.storage.test.class%">
            <argument type="collection">
                <argument key="session_id">test</argument>
                <argument key="session_path">%kernel.root_dir%/cache</argument>
            </argument>
        </service>

    </services>
</container>
