<?xml version="1.0" ?>

<container xmlns="http://www.symfony-project.org/schema/dic/services"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.symfony-project.org/schema/dic/services http://www.symfony-project.org/schema/dic/services/services-1.0.xsd">

    <parameters>

        <parameter key="lichess.persistence.class">Bundle\LichessBundle\Persistence\FilePersistence</parameter>
        <parameter key="lichess.persistence.dir">%kernel.root_dir%/data</parameter>

        <parameter key="lichess.ai.class">Bundle\LichessBundle\Ai\Crafty</parameter>

        <parameter key="lichess.generator.class">Bundle\LichessBundle\Chess\Generator</parameter>

        <parameter key="lichess.anybody.connection_file">%kernel.root_dir%/cache/connect_anybody</parameter>

        <parameter key="lichess.synchronizer.class">Bundle\LichessBundle\Chess\Synchronizer</parameter>
        <parameter key="lichess.synchronizer.timeout">12</parameter>
        <parameter key="lichess.synchronizer.delay">2</parameter>

        <parameter key="lichess.translator.class">Bundle\LichessBundle\I18N\Translator</parameter>
        <parameter key="lichess.translator.locales" type="collection">
            <parameter key="en">English</parameter>
            <parameter key="fr">français</parameter>
            <parameter key="ru">русский язык</parameter>
            <parameter key="de">Deutsch</parameter>
            <parameter key="tr">Türkçe</parameter>
            <parameter key="sr">српски јези</parameter>
            <parameter key="lv">latviešu valoda</parameter>
            <parameter key="bs">bosanski jezik</parameter>
            <parameter key="da">Dansk</parameter>
            <parameter key="es">Español</parameter>
            <parameter key="ro">Română</parameter>
            <parameter key="it">Italian</parameter>
            <parameter key="fi">suomi, suomen kieli</parameter>
            <parameter key="uk">українськ</parameter>
            <parameter key="pt">Portuguê</parameter>
            <parameter key="pl">polski</parameter>
        </parameter>

        <parameter key="templating.helper.translator.class">Bundle\LichessBundle\Helper\TranslatorHelper</parameter>

        <parameter key="session.storage.test.class">Bundle\LichessBundle\SessionStorage\TestSessionStorage</parameter>

    </parameters>

    <services>

        <service id="templating.helper.translator" class="%templating.helper.translator.class%">
            <tag name="templating.helper" alias="translator" />
            <argument type="service" id="lichess_translator" />
        </service>

        <service id="lichess_translator" class="%lichess.translator.class%" shared="true">
            <argument>%lichess.translator.locales%</argument>
            <argument>%kernel.debug%</argument>
        </service>

        <service id="lichess_persistence" class="%lichess.persistence.class%" shared="true">
            <argument>%lichess.persistence.dir%</argument>
        </service>

        <service id="lichess_ai" class="%lichess.ai.class%" shared="true">
        </service>

        <service id="lichess_generator" class="%lichess.generator.class%" shared="true">
        </service>

        <service id="lichess_synchronizer" class="%lichess.synchronizer.class%" shared="true">
            <argument>%lichess.synchronizer.timeout%</argument>
        </service>

        <service id="session.storage.test" class="%session.storage.test.class%">
            <argument type="collection">
                <argument key="session_id">test</argument>
                <argument key="session_path">%kernel.root_dir%/cache</argument>
            </argument>
        </service>

    </services>
</container>
