<?xml version="1.0" ?>

<container xmlns="http://symfony.com/schema/dic/services"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://symfony.com/schema/dic/services http://symfony.com/schema/dic/services/services-1.0.xsd">

    <services>
        <service id="lichess.elo.calculator" class="Bundle\LichessBundle\Elo\Calculator" public="false" />
        <service id="lichess.blamer.player" class="Bundle\LichessBundle\Blamer\PlayerBlamer" public="false">
            <argument type="service" id="security.context" />
        </service>
        <service id="lichess.critic.user" class="Bundle\LichessBundle\Critic\UserCritic">
            <argument type="service" id="lichess.repository.game" />
            <argument type="service" id="fos_user.repository.user" />
            <argument type="service" id="lichess.elo.calculator" />
            <argument type="service" id="security.context" />
        </service>
        <service id="lichess.logger" class="Bundle\LichessBundle\Logger">
            <argument type="service" id="logger" />
            <argument type="service" id="router" />
        </service>
        <service id="lichess.twig.extension" class="Bundle\LichessBundle\Twig\LichessExtension" public="true">
            <argument type="service" id="service_container" />
            <tag name="twig.extension" />
        </service>
    </services>
</container>
