{% extends 'LichessOpeningBundle::layoutOpening.html.twig' %}

{% block content %}
<div class="clearfix lichess_homepage">
    <div class="lichess_board_wrap lichess_player_white">
        {% include "LichessBundle:Main:staticBoard_white.html.twig" %}
        <div class="hooks_wrap hidden">
            <div class="hooks" data-url="{{ path('lichess_hook_poll', {'auth': auth}) }}"></div>
        </div>
    </div>
    {% include "LichessOpeningBundle::startButtons.html.twig" %}
</div>
{% endblock %}
