<form class="fos_comment_comment_form" action="{{ path("fos_comment_comment_create", { "threadId": thread.id }) }}" method="POST">

    {% block fos_comment_form_title %}{% endblock %}

    {% block fos_comment_form_fields %}
        <textarea class="comment_body" name="{{ form.body.vars.full_name }}"></textarea>
        {% if form.authorName is defined %}
            <label class="author_name">Post as:
                <input type="text" class="comment_author" name="{{ form.authorName.vars.full_name }}" value="{{ form.authorName.vars.value }}" />
            </label>
        {% endif %}
    {% endblock %}

    <div class="fos_comment_submit">
        {% block fos_comment_form_submit %}
            <input type="submit" value="Post" />
        {% endblock %}
    </div>

</form>
