{% extends 'LichessOpeningBundle::index.html.twig' %}

{% block opening_buttons %}
<div class="lichess_ground"></div>
{% endblock %}

{% block opening_my_hook %}{{ myHookId }}{% endblock %}
{% block opening_hook_poll_url %}{{ lila_path("lobby/sync/" ~ myHookId) }}{% endblock %}
