{#

<Author> commented <Game> on date - View <Comment>

<Author> posted in topic <Topic> on date - View <Post>

<Author> won against <loser> on date - View <Game>

#}

<span class="author">{{ block("author") }}</span>
<span class="verb">{{ block("verb") }}</span>
{{ block("post_verb") }}
{% block subject_link %}
    <span class="subject">
        <a href="{{ block("subject_url") }}">{{ block("subject_name") }}</a>
    </span>
{% endblock %}
<br />
<span class="date">{{ block("date") }}</span>
<a href="{{ block("view_url") }}" class="view">View {{ block("view_name") }}</a>
