{% extends "LichessBundle::layoutCommon.twig" %}
{% block body %}
<div class="header">
    <h1><a class="site_title" href="{% path 'lichess_homepage' %}">Lichess</a></h1>
    {% set newLocale %}{% flash "locale_change" %}{% endset %}
    {% if newLocale and newLocale != "en" %}{% render "LichessBundle:Translation:incomplete" with["locale": newLocale] %}{% endif %}
    <div class="lichess_goodies_wrap">
        {% block goodies %}{% endblock %}
    </div>
    <div class="lichess_chat_wrap">
        {% block chat %}{% endblock %}
    </div>
</div>
<div id="lichess">
    {% block content %}{% endblock %}
</div>
{% endblock %}
