{% if _view.doctrine_user_security.isAnonymous %}
    {% include "DoctrineUserBundle:Security:embeddedLogin.twig" %}
{% else %}
<a href="{% path "user_profile" %}" class="goto_nav goto_profile">{{ _view.doctrine_user_security.user.username }}</a>
{% endif %}
