[submodule "vendor/symfony"]
	path = vendor/symfony
	url = git://github.com/symfony/symfony.git
[submodule "src/Bundle/LichessBundle/Resources/public/vendor/pgn4web"]
	path = src/Bundle/LichessBundle/Resources/public/vendor/pgn4web
	url = git://github.com/ornicar/pgn4web.git
[submodule "src/Bundle/ForumBundle"]
	path = src/Bundle/ForumBundle
	url = git://github.com/Herzult/ForumBundle.git
[submodule "vendor/mongodb-odm"]
	path = vendor/mongodb-odm
	url = git://github.com/doctrine/mongodb-odm
[submodule "vendor/zend"]
	path = vendor/zend
	url = git://github.com/zendframework/zf2.git
[submodule "vendor/ZendPaginatorAdapter"]
	path = vendor/ZendPaginatorAdapter
	url = git://github.com/ornicar/ZendPaginatorAdapter.git
[submodule "src/Bundle/ApcBundle"]
	path = src/Bundle/ApcBundle
	url = git://github.com/ornicar/ApcBundle.git
[submodule "vendor/twig"]
	path = vendor/twig
	url = git://github.com/fabpot/Twig.git
[submodule "vendor/php-git-repo"]
	path = vendor/php-git-repo
	url = git://github.com/ornicar/php-git-repo.git
[submodule "src/Bundle/LichessBundle"]
	path = src/Bundle/LichessBundle
	url = git://github.com/ornicar/LichessBundle.git
[submodule "vendor/Doctrine2-Sluggable-Functional-Behavior"]
	path = vendor/Doctrine2-Sluggable-Functional-Behavior
	url = git://github.com/ornicar/Doctrine2-Sluggable-Functional-Behavior.git
[submodule "src/FOS/UserBundle"]
	path = src/FOS/UserBundle
	url = git://github.com/FriendsOfSymfony/UserBundle.git
[submodule "src/Bundle/Ornicar/MessageBundle"]
	path = src/Bundle/Ornicar/MessageBundle
	url = git://github.com/ornicar/MessageBundle
[submodule "vendor/doctrine-data-fixtures"]
	path = vendor/doctrine-data-fixtures
	url = git://github.com/ornicar/data-fixtures
[submodule "vendor/assetic"]
	path = vendor/assetic
	url = git://github.com/kriswallsmith/assetic.git
