[submodule "src/vendor/Symfony"]
	path = src/vendor/Symfony
	url = git://github.com/fabpot/symfony.git
[submodule "src/Bundle/LichessBundle/Resources/public/vendor/pgn4web"]
	path = src/Bundle/LichessBundle/Resources/public/vendor/pgn4web
	url = git://github.com/ornicar/pgn4web.git
[submodule "src/Bundle/ForumBundle"]
	path = src/Bundle/ForumBundle
	url = git://github.com/Herzult/ForumBundle.git
[submodule "src/vendor/mongodb-odm"]
	path = src/vendor/mongodb-odm
	url = git://github.com/doctrine/mongodb-odm
[submodule "src/Bundle/TimeBundle"]
	path = src/Bundle/TimeBundle
	url = git://github.com/knplabs/TimeBundle.git
[submodule "src/vendor/zend"]
	path = src/vendor/zend
	url = git://github.com/zendframework/zf2.git
[submodule "src/vendor/ZendPaginatorAdapter"]
	path = src/vendor/ZendPaginatorAdapter
	url = git://github.com/ornicar/ZendPaginatorAdapter.git
