/lichess/config/config*_local.yml
/lichess/cache/*
/lichess/logs/*
# except README
!/lichess/data/README
# ignore proposed translations files
/lichess/translation/*
# except README
!/lichess/translation/README
/lichess/deploy.sh
tags
/web/.htaccess
/web/web.config
/web/google*
/web/bundle/*
dump*
