/lichess/config/config*_local.yml
/lichess/cache/*
/lichess/logs/*
# ignore game data files
/lichess/data/*
# except README
!/lichess/data/README
# ignore proposed translations files
/lichess/translation/*
# except README
!/lichess/translation/README
/lichess/deploy.sh
tags
/web/.htaccess
