[submodule "src/vendor/Symfony"]
	path = src/vendor/Symfony
	url = git://github.com/ornicar/symfony.git
[submodule "src/Bundle/LichessBundle/Resources/public/vendor/pgn4web"]
	path = src/Bundle/LichessBundle/Resources/public/vendor/pgn4web
	url = git://github.com/ornicar/pgn4web.git
[submodule "src/Bundle/ForumBundle"]
	path = src/Bundle/ForumBundle
	url = git://github.com/Herzult/ForumBundle.git
[submodule "src/Bundle/TimeBundle"]
	path = src/Bundle/TimeBundle
	url = git://github.com/knplabs/TimeBundle.git
[submodule "src/vendor/zend"]
	path = src/vendor/zend
	url = git://github.com/zendframework/zf2.git
[submodule "src/vendor/ZendPaginatorAdapter"]
	path = src/vendor/ZendPaginatorAdapter
	url = git://github.com/ornicar/ZendPaginatorAdapter.git
[submodule "src/vendor/twig"]
	path = src/vendor/twig
	url = git://github.com/fabpot/Twig.git
[submodule "src/Bundle/DoctrineUserBundle"]
	path = src/Bundle/DoctrineUserBundle
	url = git://github.com/knplabs/DoctrineUserBundle.git
[submodule "src/vendor/php-git-repo"]
	path = src/vendor/php-git-repo
	url = git://github.com/ornicar/php-git-repo.git
[submodule "src/vendor/Doctrine"]
	path = src/vendor/Doctrine
	url = git://github.com/doctrine/doctrine2.git
