<?xml version="1.0" ?>

<container xmlns="http://symfony.com/schema/dic/services"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://symfony.com/schema/dic/services http://symfony.com/schema/dic/services/services-1.0.xsd">

    <services>
        <service id="lichess_opening.hook_repository" class="Lichess\OpeningBundle\Document\HookRepository" factory-service="doctrine.odm.mongodb.document_manager" factory-method="getRepository">
            <argument type="string">Lichess\OpeningBundle\Document\Hook</argument>
        </service>
        <service id="lichess.config.persistence" class="Lichess\OpeningBundle\Config\Persistence" public="false">
            <argument type="service" id="session" />
            <argument type="service" id="security.context" />
        </service>
        <service id="lichess_opening.sync_memory" class="Lichess\OpeningBundle\Sync\Memory">
            <argument>5</argument>
        </service>
        <service id="lichess_opening.hook_cleaner" class="Lichess\OpeningBundle\Sync\HookCleaner">
            <argument type="service" id="lichess_opening.sync_memory" />
            <argument type="service" id="lichess_opening.hook_repository" />
        </service>

    </services>

</container>
