<div class="lichess_cemetery lichess_cemetery_{{ position }} {{ player.color }}">
{% for piece in player.deadPieces %}
<div class="lichess_tomb"><div class="lichess_piece {{ piece.class|lower }} {{ player.color }}"></div></div>
{% endfor %}
</div>
