{% extends "LichessBundle:Game:invite.html.twig" %}
{% block invite_type %}ai{% endblock %}
{% block invite_title %}{% trans "Play with the machine" %}{% endblock %}
{% block invite_form_fields %}
<div class="variants buttons">
    {{ form_field(form.variant) }}
</div>
{% endblock %}
