{% extends "LichessBundle::layout.twig" %}
{% block title %}Lichess - {% trans "Play with a friend" %} - {{ color }}{% endblock %}
{% block body %}
<div class="lichess_game_not_started waiting_opponent clearfix lichess_player_{{ color }}">
    <div class="lichess_board_wrap">
        {% include "LichessBundle:Main:staticBoard_" ~ color ~ ".twig" %}
        <div class="lichess_overboard wait_anybody">
            <h2>{% trans "Join the game" %}</h2>
            <a class="join_redirect_url" href="{% path "lichess_join_game" with ["id": game.id] %}">
                <img src="{% asset 'bundles/lichess/images/hloader.gif' %}" />
            </a>
        </div>
    </div>
</div>
<script type="text/javascript">
    window.location.href = "{% path "lichess_join_game" with ["id": game.id] %}";
</script>
{% endblock %}
