<div class="game_list_inner clearfix">
{% for game in games %}
<div class="game_mini">
    {{ lichess_game_mini(game)|raw }}
    <div class="vstext">{{ game.vsText|raw }}</div>
</div>
{% endfor %}
</div>
