<div class="game_share">

    {% set url = url("lichess_game", {"id": game.id}) %}
    {% set title = "I like this Chess game! " ~ url %}
    <div class="game_share_top">
        <div class="game_share_widgets clearfix">
            <div class="facebook_placeholder"></div>
            <div class="twitter_placeholder"><a href="http://twitter.com/share" class="twitter-share-button" data-text="{{ title }}" data-count="none" data-url="http://lichess.org">Tweet this game</a></div>
            <div class="plusone_placeholder"></div>
        </div>
        <a title="{{ "Share this url to let spectators see the game"|trans }}" class="game_permalink blank_if_play" href="{{ path("lichess_game", {"id": game.id}) }}">{{ url }}</a>
    </div>
</div>
