#lichess_user {
    margin-left: 211px;
}
#lichess_user .lichess_box {
    text-align: left;
}
#lichess_user .lichess_title {
    text-align: left;
    font-size: 2em;
    display: block;
}

#lichess_user .stats {
    font-size: 1.2em;
}

#lichess_user h2 {
    font-size: 1.5em;
}

#lichess_user img.elo_history {
    float:right;
}

#lichess_user .signup_box p.explanation {
    font-size: 1.2em;
}

form.signup {
    font-size: 1.3em;
}

form.signup li {
    list-style: none;
    display: block;
    margin: 1em 0 1em 1em;
    position: relative;
}

form.signup label {
    float: left;
    display: block;
    width: 100px;
    text-align: right;
    margin-right: 10px;
    margin-top: 2px;
}

form.signup .username input, form.signup .password input {
    width: 150px;
    padding: 0 3px;
}

form.signup input.submit {
    margin-left: 110px;
    padding: 3px 1em;
}

/* Errors */
form.signup li ul {
    position: absolute;
    left: 270px;
    top: -9px;
    font-size: 12px;
    color: red;
}

div.user_show {
    width: 600px;
}
div.user_show div.dashboard {
    float: right;
    width: 200px;
    padding: 1em;
    border: 1px solid #dadada;
}
div.user_show div.dashboard hr {
    background-color: #dadada;
    color: #dadada;
    border: 0;
    height: 1px;
}
div.user_show div.games {
    margin-top: 1em;
    border-top: 1px solid #dadada;
    padding-top: 1em;
}

ol.users li {
    list-style: decimal inside;
    font-size: 1.3em;
    line-height: 2em;
}
ol.users a {
    background: url(../../lichess/images/user.png) top left no-repeat;
    padding-left: 20px;
}

/* pagination */
div.pager {
    text-align:center;
    margin-top: 2em;
}
div.pager .position {
    margin-right: 2em;
}
div.pager a, div.pager span {
    font-size: 1.1em;
    padding: 0.1em 0.5em;
    font-weight: bold;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    text-decoration: none;
}
div.pager span {
    color: #ccc;
}
div.pager span.current {
    background: -moz-linear-gradient(center top , #50C0D0, #0090A0) repeat scroll 0 0 #0090A0;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#50C0D0), to(#0090A0));
    color: #FFF;
    margin: 0 0.5em;
}
