{% extends "HerzultForumBundle::layout.html.twig" %}
{% block content %}
<div class="forum forum_index">
    <h1>Lichess Forum</h1>
    {% render "HerzultForumBundle:Category:list" %}
</div>
{% endblock %}
