{% extends "LichessBundle::layoutCommon.twig" %}
{% block assets %}
{% parent %}
{% stylesheet 'bundles/user/css/user.css' %}
{% javascript 'bundles/user/js/user.js' %}
{% endblock %}
{% block body %}
<div class="header">
    <h1><a class="site_title" href="{{ path('lichess_homepage') }}">Lichess</a></h1>
</div>
<div id="lichess_user">
    {% block content %}{% endblock %}
</div>
{% endblock %}
