<?xml version="1.0" ?>

<container xmlns="http://symfony.com/schema/dic/services"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://symfony.com/schema/dic/services http://symfony.com/schema/dic/services/services-1.0.xsd">

    <parameters>
        <parameter key="lichess_translation.manager.reference_language">fr</parameter>
        <parameter key="lichess_translation.translation_dir">%kernel.root_dir%/../src/Bundle/LichessBundle/Resources/translations</parameter>

        <parameter key="lichess.locales" type="collection">
            <parameter key="en">English</parameter>
            <parameter key="fr">français</parameter>
            <parameter key="ru">русский язык</parameter>
            <parameter key="de">Deutsch</parameter>
            <parameter key="tr">Türkçe</parameter>
            <parameter key="sr">српски јези</parameter>
            <parameter key="lv">latviešu valoda</parameter>
            <parameter key="bs">bosanski jezik</parameter>
            <parameter key="da">Dansk</parameter>
            <parameter key="es">Español</parameter>
            <parameter key="ro">Română</parameter>
            <parameter key="it">Italian</parameter>
            <parameter key="fi">suomi, suomen kieli</parameter>
            <parameter key="uk">українська</parameter>
            <parameter key="pt">Português</parameter>
            <parameter key="pl">polski</parameter>
            <parameter key="nl">Nederlands, Vlaams</parameter>
            <parameter key="vi">Tiếng Việt</parameter>
            <parameter key="sv">svensk</parameter>
            <parameter key="cs">česky, čeština</parameter>
            <parameter key="sk">slovenčina</parameter>
            <parameter key="hu">magyar nyelv</parameter>
            <parameter key="ca">Català</parameter>
            <parameter key="sl">slovenščina</parameter>
            <parameter key="az">azərbaycan dili</parameter>
            <parameter key="nn">Norsk nynors</parameter>
            <parameter key="eo">Esperanto</parameter>
            <parameter key="tp">Toki Pona</parameter>
            <parameter key="el">Ελληνικά</parameter>
            <parameter key="frp">arpitan</parameter>
            <parameter key="lt">lietuvių kalba</parameter>
            <parameter key="no">Nors</parameter>
            <parameter key="et">eesti, eesti keel</parameter>
            <parameter key="hy">Հայերեն</parameter>
            <parameter key="af">Afrikaans</parameter>
            <parameter key="hi">हिन्दी, हिंदी</parameter>
            <parameter key="ar">العربية</parameter>
            <parameter key="zh">中文</parameter>
            <parameter key="gl">Galego</parameter>
            <parameter key="tk">Türkmençe</parameter>
            <parameter key="hr">hrvatski</parameter>
            <parameter key="mk">македонски јази</parameter>
            <parameter key="id">Bahasa Indonesia</parameter>
            <parameter key="ja">日本語</parameter>
            <parameter key="bg">български език</parameter>
            <parameter key="th">ไทย</parameter>
            <parameter key="fa">فارسی</parameter>
            <parameter key="he">עִבְרִית</parameter>
            <parameter key="mr">मराठी</parameter>
            <parameter key="mn">монго</parameter>
            <parameter key="cy">Cymrae</parameter>
            <parameter key="gd">Gàidhlig</parameter>
            <parameter key="ga">Gaeilge</parameter>
            <parameter key="sq">Shqip</parameter>
            <parameter key="be">Беларуская</parameter>
            <parameter key="ka">ქართულ</parameter>
            <parameter key="sw">Kiswahili</parameter>
            <parameter key="ps">پښتو</parameter>
            <parameter key="is">Íslensk</parameter>
        </parameter>

    </parameters>

    <services>
        <service id="lichess_translation.manager" class="Lichess\TranslationBundle\TranslationManager">
            <argument>%lichess_translation.manager.reference_language%</argument>
            <argument>%lichess.locales%</argument>
            <argument>%lichess_translation.translation_dir%</argument>
        </service>

        <service id="lichess_translation.switcher" class="Lichess\TranslationBundle\Switcher" public="false">
            <argument type="service" id="lichess_translation.manager" />
        </service>

        <service id="lichess_translation.fetcher" class="Lichess\TranslationBundle\Fetcher">
            <file>%kernel.root_dir%/../vendor/php-git-repo/lib/phpGitRepo.php</file>
            <argument type="service" id="lichess_translation.manager" />
            <argument>en.lichess.org</argument>
            <argument>%kernel.root_dir%/..</argument>
        </service>

        <service id="lichess_translation.provider" class="Lichess\TranslationBundle\Provider">
            <argument type="service" id="lichess_repository.translation" />
        </service>

        <service id="lichess_repository.translation" class="Lichess\TranslationBundle\Document\TranslationRepository" factory-service="doctrine.odm.mongodb.document_manager" factory-method="getRepository">
            <argument type="string">Lichess\TranslationBundle\Document\Translation</argument>
        </service>

        <service id="lichess_translation.form_type.translation" class="Lichess\TranslationBundle\Form\TranslationFormType">
            <argument type="service" id="lichess_translation.manager" />
        </service>

        <service id="lichess_translation.twig.extension" class="Lichess\TranslationBundle\Twig\TranslationExtension" public="false">
            <argument type="service" id="lichess_translation.manager" />
            <tag name="twig.extension" />
        </service>
    </services>
</container>
