/* YUI reset version: 2.8.0r4 */
html{color:#000;}body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td{margin:0;padding:0;}table{border-collapse:collapse;border-spacing:0;}fieldset,img{border:0;}address,caption,cite,code,dfn,em,strong,th,var,optgroup{font-style:inherit;font-weight:inherit;}del,ins{text-decoration:none;}li{list-style:none;}caption,th{text-align:left;}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}q:before,q:after{content:'';}abbr,acronym{border:0;font-variant:normal;}sup{vertical-align:baseline;}sub{vertical-align:baseline;}legend{color:#000;}input,button,textarea,select,optgroup,option{font-family:inherit;font-size:inherit;font-style:inherit;font-weight:inherit;}

/* tipsy */
.tipsy { padding: 5px; font-size: 10px; position: absolute; z-index: 100000; text-shadow: none; }
.tipsy-inner { padding: 5px 8px 4px 8px; background-color: black; color: white; max-width: 200px; text-align: center; }
.tipsy-inner { border-radius: 3px; -moz-border-radius:3px; -webkit-border-radius:3px; }
.tipsy-arrow { position: absolute; background: url('../vendor/tipsy/images/tipsy.gif') no-repeat top left; width: 9px; height: 5px; }
.tipsy-n .tipsy-arrow { top: 0; left: 50%; margin-left: -4px; }
.tipsy-nw .tipsy-arrow { top: 0; left: 10px; }
.tipsy-ne .tipsy-arrow { top: 0; right: 10px; }
.tipsy-s .tipsy-arrow { bottom: 0; left: 50%; margin-left: -4px; background-position: bottom left; }
.tipsy-sw .tipsy-arrow { bottom: 0; left: 10px; background-position: bottom left; }
.tipsy-se .tipsy-arrow { bottom: 0; right: 10px; background-position: bottom left; }
.tipsy-e .tipsy-arrow { top: 50%; margin-top: -4px; right: 0; width: 5px; height: 9px; background-position: top right; }
.tipsy-w .tipsy-arrow { top: 50%; margin-top: -4px; left: 0; width: 5px; height: 9px; }
.clearfix:after {
    content:".";
    display:block;
    height:0;
    clear:both;
    visibility:hidden;
}

.clearfix {display:inline-block;}
/* Hide from IE Mac \*/
.clearfix {display:block;}
/* End hide from IE Mac */

.none {
    display: none;
}

body {
    font:12px 'Lucida Grande','Lucida Sans Unicode',Geneva,Verdana,Sans-Serif;
    color: #888;
    background: #F7F7F7 url(../images/head_bg.png) top left repeat-x;
}

a, a:visited {
    color: #888;
    text-decoration: underline;
    cursor: pointer;
}

a:hover {
    text-decoration: none;
}

strong {
    font-weight: bold;
}

div.header {
    width: 200px;
    float: left;
    position: relative;
}
div.header strong {
    font-weight: normal;
}

div.content {
    width: 1010px;
    margin: 40px auto 50px auto;
    position: relative;
}

#lichess {
    margin-left: 211px;
}

a.site_title {
    width: 130px;
    color: #666;
    padding-top: 15px;
    font-family: 'Trebuchet MS', 'Helvetica Neue', Arial, Sans-Serif;
    font-weight: bold;
    font-size: 30px;
    color: #aaa;
    text-decoration: none;
}

div.footer_wrap {
    width: 100%;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    background: #EEE;
    padding: 20px 0;
    display: block;
}

div.footer {
    width: 1000px;
    margin: auto;
    line-height: 2em;
}

div.footer div.right {
    float: right;
    text-align: right;
}

div.lichess_box {
    border-radius:4px 4px 4px 4px;
    -moz-border-radius:4px 4px 4px 4px;
    -webkit-border-radius:4px 4px 4px 4px;
    box-shadow: 0 0 7px #bbb;
    -moz-box-shadow: 0 0 7px #bbb;
    -webkit-box-shadow: 0 0 7px #bbb;
    background:none repeat scroll 0 0 #F8F8F8;
    font:12px 'Lucida Grande','Lucida Sans Unicode',Geneva,Verdana,Sans-Serif;
    width:472px;
    padding:20px;
    text-align: center;
    line-height: 1.5em;
}

div.lichess_box .lichess_title {
    font-size: 1.4em;
    margin-bottom: 0.5em;
}

div.lichess_box .box_right_text {
    margin-top: -5px;
    float: right;
}

div.lichess_box p {
    margin: 1em;
}

div.lichess_box div.lichess_text {
    text-align: left;
    margin-bottom: 1em;
}

div.lichess_box em {
    font-style: italic;
}

div.lichess_box li {
    list-style: disc inside;
    margin-left: 1em;
}

div.lichess_box a.lichess_new_game {
    font-size: 150%;
}

div.lichess_box p.license_images {
    text-align: center;
    vertical-align: middle;
}
div.lichess_box p.license_images a {
    margin: 0 1em;
}

#top_menu {
    position: absolute;
    top: 5px;
    right: 120px;
    width: 800px;
}
a#sound_state {
    margin-top: 4px;
    float: right;
    width: 18px;
    height: 15px;
    opacity: 0.7;
}
a#sound_state:hover {
    opacity: 1;
}
a.sound_state_on {
    background: url(../images/sound-on.gif) top left no-repeat;
}
a.sound_state_off {
    background: url(../images/sound-off.gif) top left no-repeat;
}
a#sound_state.unavailable {
    opacity: 0;
}
div.lichess_language {
    margin-top: 4px;
    margin-right: 1.5em;
    float: right;
    position: relative;
}
div.lichess_language span {
    background: url(../images/down16.png) center right no-repeat;
    padding-right: 16px;
    cursor: pointer;
    font-size: 13px;
}
ul.lichess_language_links {
    display:none;
    background: #FFF;
    border: 1px solid #ddd;
    box-shadow: 0 0 7px #ccc;
    -moz-box-shadow: 0 0 7px #ccc;
    -webkit-box-shadow: 0 0 7px #ccc;
    margin-top: 0.2em;
    position: absolute;
    top: 1em;
    left: 0;
    width: 183px;
    z-index: 5;
    max-height: 600px;
    overflow:auto;
}
ul.lichess_language_links a {
    display: block;
    padding: 0.4em 0.5em;
    text-decoration: none;
    text-transform: capitalize;
}
ul.lichess_language_links a:hover {
    background: #F0F0F0;
    color: #444;
}
ul.lichess_language_links li:last-child {
    border-top: 1px solid #ddd;
}
div.security, a.goto_nav {
    margin-right: 2em;
    float: right;
    text-decoration: none;
    font-size: 13px;
}
div.security {
    margin-top: 4px;
}
div.security form {
    display: none;
}
div.security.show_signin_form {
    margin-top: 0px;
}
div.security.show_signin_form a.toggle_signin {
    display: none;
}
div.security.show_signin_form form {
    display: inline;
}
div.security input.username, div.security input.password {
    border: 1px solid #dadada;
    padding: 2px 3px;
    width: 100px;
    background: #fff;
}
div.security input.login {
    padding: 0 3px;
}
a.goto_nav {
    margin-top: 4px;
    padding-left: 20px;
}
a.goto_nav:hover {
    text-decoration: underline;
}
a.goto_logout {
    background: transparent url(../images/logout.png) top left no-repeat;
}
a.goto_userlist {
    background: transparent url(../images/users.png) top left no-repeat;
}
a.goto_gamelist {
    background: transparent url(../images/eye.png) top left no-repeat;
}
a.goto_forum {
    background: transparent url(../images/balloon.png) top left no-repeat;
}
a.goto_play {
    background: transparent url(../images/control.png) top left no-repeat;
}
a.goto_profile {
    background: transparent url(../images/user.png) top left no-repeat;
    margin-right: 1em;
}
a.lichess_replay_link {
    margin-top: 20px;
    display: block;
}
div.lichess_share_game {
    margin-top: 20px;
}
#incomplete_translation {
    margin-top: 1em;
    padding: 0.5em;
    background: #FFEEB1;
    border: 1px solid #ECD688;
    position: relative;
}
#incomplete_translation span.percent {
    font-size: 18px;
    display: block;
    float: left;
    margin-right: 5px;
}
#incomplete_translation span.name {
    font-weight: bold;
    display: block;
}
#incomplete_translation a.close {
    position: absolute;
    top: 1px;
    right: 4px;
    text-decoration: none;
}

ul.lichess_social {
    height: 25px;
    text-align: center;
}
ul.lichess_social li {
    display: inline;
}
li.lichess_facebook iframe,
li.lichess_stumbleupon iframe {
    border:none;
    width: 110px;
    height: 22px;
    margin-left: 5px;
    overflow: hidden;
    background: transparent;
}
li.lichess_stumbleupon iframe {
    width: 80px;
}
li.lichess_add2any a img {
    padding-top: 2px;
    vertical-align: top;
}

div.lichess_server {
    margin: 20px 0;
    text-align: center;
}
