/* html5 ie compatibility */
article, aside, dialog, figure, footer, header, hgroup, menu, nav, section { display: block; }

.clearfix:after {
  content:".";
  display:block;
  height:0;
  clear:both;
  visibility:hidden;
}
.clearfix {display:inline-block;}
/* Hide from IE Mac \*/
.clearfix {display:block;}
/* End hide from IE Mac */

.none {
    display: none;
}

body {
  font:12px 'Lucida Grande','Lucida Sans Unicode',Geneva,Verdana,Sans-Serif;
  color: #888;
  text-shadow: 1px 1px 1px rgba(255,255,255,1);
  background: #F7F7F7 url(../images/head_bg.png) top left repeat-x;
}

.header {
    width: 140px;
    float: left;
}

.content {
  width: 1000px;
  margin: 30px auto;
  position: relative;
}

#lichess {
  width: 860px;
  margin-left: 140px;
}

a.site_title {
  width: 130px;
  color: #666;
  padding-top: 15px;
  font-family: 'Trebuchet MS', 'Helvetica Neue', Arial, Sans-Serif;
  font-weight: bold;
  font-size: 30px;
  color: #aaa;
  text-decoration: none;
}

.footer_wrap {
  width: 100%;
  border-top: 1px solid #ddd;
  background: #EEE;
  padding: 20px 0;
  display: block;
}

.footer {
  width: 1000px;
  margin: auto;
  line-height: 2em;
}

.footer .right {
    float: right;
    text-align: right;
}

div.browser_not_supported {
  margin-top: 3em;
}
div.browser_not_supported span {
  color: #BF2F2F;
  margin-bottom: 1em;
  display: block;
}
