.clearfix:after {
  content:".";
  display:block;
  height:0;
  clear:both;
  visibility:hidden;
}
.clearfix {display:inline-block;}
/* Hide from IE Mac \*/
.clearfix {display:block;}
/* End hide from IE Mac */

.none {
    display: none;
}

body {
  font:12px 'Lucida Grande','Lucida Sans Unicode',Geneva,Verdana,Sans-Serif;
  color: #888;
  text-shadow: 1px 1px 1px rgba(255,255,255,1);
  background: #F7F7F7 url(../images/head_bg.png) top left repeat-x;
}

a, a:visited {
    color: #888;
    text-decoration: underline;
    cursor: pointer;
}

a:hover {
    text-decoration: none;
}

strong {
    font-weight: bold;
}

.tipsy {
    text-shadow: none;
}

div.header {
    width: 185px;
    float: left;
    position: relative;
    height: 514px;
}

div.content {
  width: 1010px;
  margin: 30px auto;
  position: relative;
}

#lichess {
  margin-left: 201px;
}

a.site_title {
  width: 130px;
  color: #666;
  padding-top: 15px;
  font-family: 'Trebuchet MS', 'Helvetica Neue', Arial, Sans-Serif;
  font-weight: bold;
  font-size: 30px;
  color: #aaa;
  text-decoration: none;
}
span.lichess_version {
    margin-left: 0.5em;
    font-style: italic;
}

div.footer_wrap {
  width: 100%;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  background: #EEE;
  padding: 20px 0;
  display: block;
}

div.footer {
  width: 1000px;
  margin: auto;
  line-height: 2em;
}

div.footer div.right {
    float: right;
    text-align: right;
}

div.lichess_board_wrap {
    float: left;
    border: 1px solid #D3D3D3;
}

div.lichess_board {
    width: 512px;
    height: 512px;
    position: relative;
}

div.lcs {
    position: absolute;
    width: 64px;
    height: 64px;
}

div.lcs.white {
    background: #FFFFFF;
}
div.lcs.black {
    background: #CFCFCF;
}

div.lcsi {
    position: absolute;
    width: 64px;
    height: 64px;
}
div.lcs.moved div.lcsi {
    background: url(../images/over5.png) top left no-repeat;
}
div.lcs.check div.lcsi {
    background: url(../images/over6.png) top left no-repeat;
}
div.my_turn.not_spectator div.lcs:hover div.lcsi {
    background: url(../images/over.png) top left no-repeat;
}
div.lcs.droppable-active div.lcsi {
    background: url(../images/over4.png) top left no-repeat;
}
div.lcs.droppable-hover div.lcsi {
    background: url(../images/over3.png) top left no-repeat;
}

div.lichess_piece {
    position: absolute;
    width: 64px;
    height: 64px;
    background-image: url(../images/sprite.png);
}

div.my_turn div.lichess_piece.ui-draggable {
    cursor: move;
}

div.lichess_piece.ui-draggable-dragging,
div.lichess_piece.moving {
    opacity: 0.5;
}

div.lichess_piece.pawn.white{
    background-position: +0px +0px;
}
div.lichess_piece.bishop.white{
    background-position: -64px +0px;
}
div.lichess_piece.knight.white{
    background-position: -128px +0px;
}
div.lichess_piece.rook.white{
    background-position: -192px +0px;
}
div.lichess_piece.queen.white{
    background-position: -256px +0px;
}
div.lichess_piece.king.white{
    background-position: -320px +0px;
}

div.lichess_piece.pawn.black{
    background-position: +0px +64px;
}
div.lichess_piece.bishop.black{
    background-position: -64px +64px;
}
div.lichess_piece.knight.black{
    background-position: -128px +64px;
}
div.lichess_piece.rook.black{
    background-position: -192px +64px;
}
div.lichess_piece.queen.black{
    background-position: -256px +64px;
}
div.lichess_piece.king.black{
    background-position: -320px +64px;
}

div.lichess_game_not_started {
    position: relative;
}

a.lichess_exchange{
    background: url(../images/exchange.png) top left no-repeat;
    width: 128px;
    height: 128px;
    display: block;
    position: absolute;
    top: 193px;
    left: 193px;
    cursor: pointer;
}

div.lichess_overboard {
    position: absolute;
    width: 305px;
    height: 48px;
    top: 214px;
    left: 105px;
    padding: 15px 0 22px 0;
    font-size: 14px;
    line-height: 1.8em;
    text-decoration: none;
    background: #FFF;
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    box-shadow: 5px 5px 30px #888;
    -moz-box-shadow: 5px 5px 30px #888;
    -webkit-box-shadow: 0px 0px 20px #444;
    text-align: center;
}

div.lichess_overboard.wait_anybody,
div.lichess_overboard .wait_next {
    width: 220px;
    left: 147px;
    padding: 10px 0 10px 0;
}
div.lichess_overboard.wait_anybody {
    height: auto;
}
div.lichess_overboard.wait_anybody .invite_tools {
    font-size: 0.8em;
    display: none;
}
div.lichess_table_wait_next {
    background-image: url(../images/loader2.gif);
}

input.lichess_hash_input {
    margin-top: 10px;
    border: none;
    background: #fff;
    width: 100%;
    text-align: center;
    color: #444;
}

a.lichess_exchange:hover {
    background-position: 0 -128px;
}

div.lichess_promotion_choice {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 404px;
    height: 288px;
    background: #fff;
    opacity: 0.8;
    text-align: center;
    padding: 224px 0 0 108px;
}

div.lichess_promotion_choice .lichess_piece {
    float:left;
    position:static;
    padding: 5px;
    width: 54px;
    height: 54px;
    margin: 0 5px;
    cursor: pointer;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    box-shadow:0 0 5px #444;
    -moz-box-shadow:0 0 5px #444;
    -webkit-box-shadow:0 0 5px #444;
}

div.lichess_promotion_choice .lichess_piece:hover {
    box-shadow:0 0 10px blue;
    -moz-box-shadow:0 0 10px blue;
    -webkit-box-shadow:0 0 10px blue;
}

div.lichess_board_wrap {
    box-shadow: 0 0 7px #bbb;
    -moz-box-shadow: 0 0 7px #bbb;
    -webkit-box-shadow: 0 0 7px #bbb;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-color: #ccc;
}

div.lichess_player_white #a8,
div.lichess_player_black #h1 {
    border-radius-topleft: 4px;
    -moz-border-radius-topleft: 4px;
    -webkit-border-radius: 4px 0 0 0;
}

div.lichess_player_white #h8,
div.lichess_player_black #a1 {
    border-radius-topright: 4px;
    -moz-border-radius-topright: 4px;
    -webkit-border-radius: 0 4px 0 0;
}

div.lichess_player_white #a1,
div.lichess_player_black #h8 {
    border-radius-bottomleft: 4px;
    -moz-border-radius-bottomleft: 4px;
    -webkit-border-radius: 0 0 0 4px;
}

div.lichess_player_white #h1,
div.lichess_player_black #a8 {
    border-radius-bottomright: 4px;
    -moz-border-radius-bottomright: 4px;
    -webkit-border-radius: 0 0 4px 0;
}

div.lichess_join_url {
    display:none;
    background: none;
    border: none;
    margin: 1em 0 0 0;
}

div.lichess_join_url span {
    display: block;
    padding: 0.5em;
    background: #fff;
    margin-top: 1em;
    border: 1px solid #D4D4D4;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}

div.lichess_ground {
    position: relative;
    margin-left: 530px;
    height: 514px;
}

div.lichess_table {
    position: absolute;
    top: 176px;
    left: 0px;
    width: 252px;
    background: #F7F7F7;
    border: 1px solid #ccc;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    height: auto;
    padding: 10px;
}
div.lichess_table.spectator {
    top: 160px;
}

div.lichess_table_not_started {
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    border: none;
    padding: 0;
    top: 100px;
}

div.lichess_table_next {
    top: 145px;
}

div.lichess_separator {
    margin: 10px 0;
    border-bottom: 1px solid #ddd;
}

div.lichess_control {
    margin-top: 20px;
}

div.lichess_control a {
    font-size: 90%;
}

div.lichess_control label {
    margin-right: 1em;
    cursor: pointer;
}
div.lichess_control input {
    vertical-align: middle;
    margin-right: 0.3em;
}
div.lichess_control a.lichess_play_again {
    margin-left: 1em;
}

div.lichess_control div.lichess_play_again_join {
    background: url(../images/loader2.gif) center left no-repeat;
    padding-left: 45px;
}
div.lichess_control div.lichess_play_again_join a {
    margin-left: 0;
    font-size: 150%;
    display: block;
}

div.lichess_control a.lichess_resign {
    float: right;
}

div.lichess_table .lichess_button {
    margin: 2.5em 0 0 0;
    font-size: 1.5em;
    display: block;
    text-decoration: none;
    padding: 0.5em 1em;
    background: #F0F0F0;
    border: 1px solid #ddd;
    border-radius: 32px;
    -moz-border-radius: 32px;
    -webkit-border-radius: 32px;
    box-shadow: 0 0 3px #ccc;
    -moz-box-shadow: 0 0 3px #ccc;
    -webkit-box-shadow: 0 0 3px #ccc;
    text-align: center;
}

div.lichess_table .lichess_button.active, 
div.lichess_table a.lichess_button:hover {
    background: #fff;
}

div.lichess_current_player {
    height: 64px;
}
div.lichess_current_player div.lichess_player {
    position: absolute;
}
div.lichess_current_player div.lichess_player div.lichess_piece {
    top: 0;
    left: 0;
}
div.lichess_current_player div.lichess_player p {
    height: 64px;
    line-height: 64px;
    font-size: 16px;
    font-weight: bold;
    color: #888;
    margin: 0 0 0 64px;
}

div.lichess_table.finished div.lichess_player p {
  line-height: 2em;
  margin-top: 3px;
}

div.lichess_cemetery {
    height: 128px;
    width: 272px;
    position: absolute;
    left: 0px;
}
div.lichess_cemetery_top {
    top: 0;
    margin-bottom: 10px;
}
div.lichess_cemetery_bottom {
    bottom: 0;
    margin-top: 10px;
}

div.lichess_cemetery div.lichess_tomb {
    display: block;
    float: left;
    margin: 0 -15px;
    width: 64px;
    height: 64px;
}
div.lichess_cemetery div.lichess_piece {
    opacity: 0.5;
}

div.lichess_box {
    border-radius:4px 4px 4px 4px;
    -moz-border-radius:4px 4px 4px 4px;
    -webkit-border-radius:4px 4px 4px 4px;
    box-shadow: 0 0 7px #bbb;
    -moz-box-shadow: 0 0 7px #bbb;
    -webkit-box-shadow: 0 0 7px #bbb;
    background:none repeat scroll 0 0 #F8F8F8;
    font:12px 'Lucida Grande','Lucida Sans Unicode',Geneva,Verdana,Sans-Serif;
    width:472px;
    padding:20px;
    text-align: center;
    line-height: 1.5em;
}

div.lichess_box .lichess_title {
    font-size: 1.4em;
    margin-bottom: 0.5em;
}

div.lichess_box p {
  margin: 1em;
}

div.lichess_box div.lichess_text {
    text-align: left;
    margin-bottom: 1em;
}

div.lichess_box em {
    font-style: italic;
}

div.lichess_box li {
    list-style: disc inside;
    margin-left: 1em;
}

div.lichess_box a.lichess_new_game {
  font-size: 150%;
}

div.lichess_chat {
    font-size: 11px;
    position: absolute;
    bottom: 0;
    left: 0;
}

div.lichess_chat ol {
    height: 313px;
    width: 173px;
    overflow-y: auto;
    overflow-x: hidden;
    border: 1px solid #ccc;
    padding: 2px 5px;
    border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
    -webkit-border-radius: 4px 4px 0 0;
}

div.lichess_chat input {
    border: 1px solid #ccc;
    border-top: 0;
    padding: 2px 5px;
    border-radius: 0 0 4px 4px;
    -moz-border-radius: 0 0 4px 4px;
    -webkit-border-radius: 0 0 4px 4px;
    width: 173px;
    background: white;
}
div.lichess_chat input.lichess_hint {
    color: #888;
}

div.lichess_chat ol.lichess_messages li {
    margin: 0.6em 0;
    padding-left: 18px;
    background: left center no-repeat;
}
div.lichess_chat ol.lichess_messages li.white {
    background-image: url(../images/kw14.png);
}
div.lichess_chat ol.lichess_messages li.black {
    background-image: url(../images/kb14.png);
}
div.lichess_chat ol.lichess_messages li.system {
    background-image: url(../images/tip3.png);
}

div.lichess_language {
    margin: 10px 0;
    position: relative;
}
div.lichess_language span {
    background: url(../images/down16.png) center right no-repeat;
    padding-right: 16px;
    cursor: pointer;
}
ul.lichess_language_links {
    display:none;
    background: #FFF;
    border: 1px solid #EEE;
    margin-top: 0.2em;
    position: absolute;
    top: 1em;
    left: 0;
    width: 180px;
    z-index: 5;
}
ul.lichess_language_links a {
    display: block;
    padding: 0.5em 0.5em;
}
ul.lichess_language_links li:last-child {
    border-top: 1px solid #EEE;
}

div.lichess_goodies input {
    border: none;
    background: transparent;
    color: #666;
    margin-bottom: 20px;
}
a.lichess_replay_link {
    background: url(../images/new-text.png) top left no-repeat;
    padding-left: 20px;
}

ul.lichess_social {
    text-align: center;
}
ul.lichess_social li {
    display: inline;
}
li.lichess_tweet {
    padding: 5px 10px 0 0;
}
li.lichess_tweet a {
    font-family:"lucida grande",sans-serif;
    font-size: 11px;
    text-decoration: none;
    background: #ECEEF5 url(../images/twitter14.png) 3px center no-repeat;
    padding: 2px 5px 2px 18px;
    border-radius:3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border: 1px solid #CAD4E7;
    color: #3B5998;
    vertical-align: top;
}
li.lichess_tweet a:hover {
    border-color: #9DACCE;
}
li.lichess_facebook iframe,
li.lichess_stumbleupon iframe {
    border:none;
    width: 110px;
    height: 22px;
    margin-left: 5px;
    overflow: hidden; 
    background: transparent;
}
li.lichess_stumbleupon iframe {
    width: 80px;
}
li.lichess_add2any a img {
    padding-top: 2px;
    vertical-align: top;
}
#a2apage_BROWSER { display:none !important; }

div.lichess_server {
    margin: 20px 0;
    text-align: center;
}
