li.entry {
    margin-top: 1em;
    padding-top: 1em;
    border-top: 1px solid #d4d4d4;
    line-height: 2;
    font-size: 1.2em;
}
li.entry .date {
    color: #a0a0a0;
}
li.entry .verb {
    background: #d0f0ff;
    color: #444;
    padding: 2px 5px;
}
li.entry .author {
    font-weight: bold;
}
li.entry .subject {
    font-weight: bold;
}
li.entry .view {
    font-weight: bold;
}
li.entry .user_link {
    font-weight: bold;
}

div.timeline_filters {
    float:right;
}

div.timeline_filters > a {
    float: left;
    display: block;
    margin-left: 10px;
}
div.timeline_filters > a.active {
    color: #fff;
    background: -moz-linear-gradient(center top , #50C0D0, #008090) repeat scroll 0 0 #0090A0;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#50C0D0), to(#008090));
}
