li.entry {
    margin-top: 1em;
    padding-top: 1em;
    border-top: 1px solid #d4d4d4;
    line-height: 2;
}
li.entry .date {
    color: #a0a0a0;
}
li.entry .verb {
    background: #d0f0ff;
    color: #444;
    padding: 2px 5px;
}
li.entry .author {
    font-weight: bold;
}
li.entry .subject {
    font-weight: bold;
}
li.entry .view {
    font-weight: bold;
}
li.entry .user_link {
    font-weight: bold;
}
