#lichess div.lichess_box {
    width: auto;
}

div.field {
    margin: 1em 0;
}

#translation_yamlMessages {
    width: 100%;
    height: 40em;
    font-size: 1.1em;
}

div.field input {
    width: 30em;
}

.message, .error {
    margin: 1em;
    padding: 1em;
    text-align: center;
    font-size: 1.2em;
    border: 1px solid #DADADA;
    color: #000;
}

.message {
    background: #AAFFAA;
}

.error {
    background: #FFAAAA;
}

.translation_list h2 {
    font-size: 2em;
    margin-top: 1em;
    text-align: center;
}
.translation_list h3 {
    font-size: 1.8em;
}
