.trial_suspect {
    background: #ffcccc;
}
.trial_suspect, .trial_suspect a {
    color: #444;
}
.trial_score {
    font-weight: bold;
    color: #000;
}

.trial_verdict {
    padding: 5px 8px;
    font-weight: bold;
    text-transform: uppercase;
}

.trial_guilty {
    color: #aa0000;
}

.trial_innocent {
    color: #00aa00;
}
