#wiki h1 {
    font-size: 1.8em;
    color: #666;
    font-weight: normal;
}

#wiki .body {
  margin-top: 2em;
  text-align: left;
  min-height: 400px;
}

div.sidebar {
    margin-top: 30px;
}
div.sidebar a {
    display: block;
    font-size: 1.2em;
    padding: 0.5em 0 0.5em 0;
}
