{% extends "LichessBundle::layout.html.twig" %}

{% block menu_active %}user{% endblock %}

{% block layout_content %}
<div id="lichess_user">{% block content %}{% endblock %}</div>
{% endblock %}

{% block stylesheets %}
{{ parent() }}
{% stylesheets
    '@LichessUserBundle/Resources/public/css/list.css'
    '@LichessUserBundle/Resources/public/css/show.css'
    filter="?yui_css" %}
    <link href="{{ asset_url }}" type="text/css" rel="stylesheet" />
{% endstylesheets %}
{% endblock %}

{% block javascripts %}
{{ parent() }}
{% javascripts
    '@LichessBundle/Resources/public/vendor/jquery-ui.autocomplete.min.js'
    '@LichessBundle/Resources/public/vendor/jquery.infinitescroll.min.js'
    '@LichessBundle/Resources/public/js/infinitescroll.js'
    '@LichessUserBundle/Resources/public/js/user.js'
    filter="?yui_js" %}
    <script src="{{ asset_url }}"></script>
{% endjavascripts %}
{% endblock %}
