<?xml version="1.0" encoding="UTF-8" ?>

<container xmlns="http://symfony.com/schema/dic/services"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://symfony.com/schema/dic/services http://symfony.com/schema/dic/services/services-1.0.xsd">

    <services>

        <service id="lichess_user.settings" class="Application\UserBundle\Settings" scope="request">
            <argument type="service" id="security.context" />
            <argument type="service" id="session" />
        </service>

        <service id="lichess_user.account_closer" class="Application\UserBundle\AccountCloser" scope="request">
            <argument type="service" id="fos_user.user_manager" />
            <argument type="service" id="security.context" />
            <argument type="service" id="request" />
        </service>

        <service id="lichess_user.game_exporter" class="Application\UserBundle\GameExporter">
            <argument type="service" id="lichess.repository.game" />
            <argument type="service" id="fos_user.repository.user" />
            <argument type="service" id="router" />
        </service>

    </services>

</container>
