#lichess_user {
    margin-left: 211px;
    box-shadow: 0 0 7px #bbb;
    -moz-box-shadow: 0 0 7px #bbb;
    -webkit-box-shadow: 0 0 7px #bbb;
    border: 1px solid #ccc;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    background: #fff;
    padding: 1.5em 2em 2em 2em;
    text-align: left;
}

#lichess_user .lichess_title {
    text-align: left;
    font-size: 2em;
    display: block;
}

#lichess_user .stats {
    font-size: 1.2em;
}

#lichess_user h2 {
    font-size: 1.5em;
}

#lichess_user img.elo_history {
    float:right;
}

#lichess_user .signup_box p.explanation {
    font-size: 1.2em;
}

form.signup {
    font-size: 1.3em;
}

form.signup li {
    list-style: none;
    display: block;
    margin: 1em 0 1em 1em;
    position: relative;
}

form.signup label {
    float: left;
    display: block;
    width: 100px;
    text-align: right;
    margin-right: 10px;
    margin-top: 2px;
}

form.signup .username input, form.signup .password input {
    width: 150px;
    padding: 0 3px;
}

form.signup input.submit {
    margin-left: 110px;
    padding: 3px 1em;
}

/* Errors */
form.signup li ul {
    position: absolute;
    left: 270px;
    top: -9px;
    font-size: 12px;
    color: red;
}

div.user_show div.games {
    margin-top: 1em;
}

div.user_lists div.all_users {
    float: left;
    width: 350px;
    margin-right: 20px;
    border: 1px solid #DADADA;
    border-width: 0 1px 0 0;
}
div.user_lists div.online_users {
    float: left;
    margin-left: 20px;
}
div.user_lists div.online_users .users {
    margin-top: 3em;
}

.users li {
    font-size: 1.2em;
    line-height: 2em;
}
ol.users li {
    list-style: decimal inside;
}
.users a.user {
    background: url(../../lichess/images/user.png) top left no-repeat;
    padding-left: 20px;
}
.users a.send {
    font-size: 0.8em;
    margin-left: 1em;
}

/* pagination */
div.pager {
    margin-top: 1em;
    margin-bottom: 1em;
}
div.pager .position {
    margin-right: 2em;
}
div.pager a, div.pager span {
    font-size: 1.1em;
    padding: 0.1em 0.5em;
    font-weight: bold;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    text-decoration: none;
}
div.pager span {
    color: #ccc;
}
div.pager span.current {
    background: -moz-linear-gradient(center top , #50C0D0, #0090A0) repeat scroll 0 0 #0090A0;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#50C0D0), to(#0090A0));
    color: #FFF;
    margin: 0 0.5em;
}
#lichess_user .actions {
    margin-top: 0.5em;
}
.button {
    font-size: 1em;
    font-weight: normal;
    padding: 0.3em 0.8em;
}
