<ul>
    <li><strong>English</strong> Thibault Duplessis</li>
    <li><strong>French</strong> Thibault Duplessis</li>
    <li><strong>Russian</strong> Nikita Milovanov</li>
    <li><strong>Deutsch</strong> Patrick Gawliczek</li>
    <li><strong>Turkish</strong> Yakup Ipek</li>
    <li><strong>Serbian</strong> Nenad Nikolić</li>
    <li><strong>Latvian</strong> Anonymous</li>
    <li><strong>Bosnian</strong> Jacikka</li>
    <li><strong>Danish</strong> Henrik Bjornskov</li>
    <li><strong>Spanish</strong> FennecFoxz</li>
    <li><strong>Romanian</strong> Cristian Niţă</li>
    <li><strong>Italian</strong> Marco Barberis</li>
    <li><strong>Finnish</strong> Juuso Vallius</li>
    <li><strong>Ukrainian</strong> alterionisto</li>
    <li><strong>Portuguese</strong> Arthur Braz & Eugênio Vázquez</li>
    <li><strong>polski</strong> M3n747</li>
    <li><strong>Dutch</strong> Kintaro</li>
    <li><strong>Vietnamese</strong> Xiblack</li>
    <li><strong>Swedish</strong> nizleib</li>
    <li><strong>Czech</strong> Martin &amp; Claymes</li>
    <li><strong>Slovak</strong> taiga</li>
    <li><strong>Magyar</strong> LTBakemono</li>
    <li><strong>Catalan</strong> AI8</li>
    <li><strong>Slovene</strong> Klemen Grm</li>
    <li><strong>Azerbaijani</strong> elçin məmmədzadə - amil isgəndərov</li>
    <li><strong>Norwegian Nynorsk</strong> Peropaal</li>
    <li><strong>Esperanto</strong> LaPingvino</li>
    <li><strong>Toki Pona</strong> jan Mimoku</li>
    <li><strong>Greek</strong> Tzortzakos Fivos &amp; Γιάννης Ανθυμίδης</li>
    <li><strong>Arpitan</strong> Alex</li>
    <li><strong>Lithuanian</strong> Anonymous</li>
    <li><strong>Norwegian</strong> Anonymous</li>
    <li><strong>Estonian</strong> Anonymous</li>
    <li><strong>Armenian</strong> Network.am</li>
    <li><strong>Afrikaans</strong> secreteagle</li>
    <li><strong>Hindi</strong> Samarth Karia</li>
    <li><strong>Arabic</strong> Ziad Dabash</li>
    <li><strong>Chinese</strong> 神爱</li>
    <li><strong>Galician</strong> José Manuel Castroagudín Silva</li>
    <li><strong>Turkmen</strong> Anonymous</li>
    <li><strong>Hrvatski</strong> Betyárcsimbók</li>
    <li><strong>Macedonian</strong> Давид и Стефан Тимовски</li>
    <li><strong>Indonesian</strong> Night1301</li>
    <li><strong>Japanese</strong> ネイサン　アイブス</li>
    <li><strong>Bulgarian</strong> Anonymous</li>
    <li><strong>Thai</strong> มาโนชญ์ สมศักดิ์</li>
    <li><strong>Persian</strong> saeid monajiane</li>
    <li><strong>Hebrew</strong> Anonymous & Tornado</li>
    <li><strong>Marathi</strong> Rahul</li>
    <li><strong>Mongolian</strong> Tsbarsaa</li>
    <li><strong>Welsh</strong> cavejohnson</li>
    <li><strong>Scottish Gaelic</strong> GunChleoc</li>
    <li><strong>Gaeilge</strong> Anonymous</li>
    <li><strong>Albanian</strong> Indrit Bleta</li>
    <li><strong>Belarusian</strong> Palenik Siarhei</li>
    <li><strong>Georgian</strong> Giorgi Javakhidze</li>
    <li><strong>Swahili</strong> Anonymous</li>
    <li><strong>Pashto</strong> Herawi Pashtun</li>
</ul>

