<ul class="anonymous_users clearfix">
    {% for player in 0..nbPlayers %}
        <li></li>
    {% endfor %}
</ul>
<h2>{% trans "Named players " %}</h2>
<ul class="users">
    {% for user in users %}
    <li>
        <a class="user" href="{{ path("fos_user_user_show", {"username": user.username} ) }}">{{ user.usernameWithElo }}</a>
        {% if not fos_user_isAnonymous() %}
            <a class="send" href="{{ path("ornicar_message_message_new", {"to": user.username}) }}">
                {% trans "Send a message" %}
            </a>
        {% endif %}
    </li>
    {% endfor %}
</ul>
