{% if isOpponentConnected %}
<span title="{% trans "Human opponent connected" %}" class="username connected">{{ opponent.usernameWithElo }}</span>
{% elseif game.isFinished %}
<span title="{% trans "Human opponent offline" %}" class="username offline">{{ opponent.usernameWithElo }}</span>
{% else %}
{% trans "The other player has left the game. You can force resignation, or wait for him." %}<br />
<a title="{% trans "Make your opponent resign" %}" class="force_resignation" href="{% path "lichess_force_resignation" with ["id": playerFullId] %}">{% trans "Force resignation" %}</a>
{% endif %}
