{% if opponent.isAi %}
    <div class="username connected">
        {% trans "%ai_name% level %ai_level%" with {'%ai_name%': 'Crafty A.I.', '%ai_level%': opponent.aiLevel} %}
    </div>
{% else %}
    {% set opponentLink %}{{ lichess_link_player(opponent, 'blank_if_play') }}{% endset %}
    {% set status = opponentActivity == 2 ? "connected" : "offline" %}
    <div title="{% trans "Human opponent a " ~ status %}" class="username {{ status }}">{{ opponentLink }}</div>
    {% if opponentActivity == 0 and game.isPlayable %}
        {% trans "The other player has left the game. You can force resignation, or wait for him." %}<br />
        <a title="{% trans "Make your opponent resign" %}" class="force_resignation" href="{{ path("lichess_force_resignation", {"id": playerFullId} ) }}">{% trans "Force resignation" %}</a>
    {% endif %}
{% endif %}
