{% extends "LichessBundle:Player:layoutPlayer.twig" %}
{% block robots %}noindex, nofollow{% endblock %}
{% block title_suffix %} #{{ player.fullId }}{% endblock %}
{% block content %}
<div class="lichess_game clearfix lichess_player_{{ player.color }} not_spectator">
    <div class="lichess_board_wrap">
        {{ _view.lichess_game.renderBoard(player, checkSquareKey)|raw }}
    </div>
    <div class="lichess_ground">
        {% include "LichessBundle:Game:cemetery.twig" with ["player": player, "position": top] %}
        <div class="lichess_table_wrap">
            {% render "LichessBundle:Player:table" with ["id": player.game.id, "color": player.color, "playerFullId": player.fullId] %}
        </div>
        {% include "LichessBundle:Game:cemetery.twig" with ["player": player.opponent, "position": bottom] %}
    </div>
</div>
{% endblock %}
{% block goodies %}
    {% include "LichessBundle:Game:goodies.twig" with ["game": player.game, "color": player.color] %}
{% endblock %}
{% block js_data %}
    {{ _view.lichess_game.renderData(player, possibleMoves, isOpponentConnected)|raw }}
{% endblock %}
{% block chat %}
{% if player.opponent.isHuman %}{% include "LichessBundle:Player:room.twig" with ["player": player] %}{% endif %}
{% endblock %}
