{% if opponent.isAi %}
    {% trans "%ai_name% level %ai_level%" with {'%ai_name%': 'Crafty A.I.', '%ai_level%': opponent.aiLevel} %}
{% else %}
<div class="username">
    {{ lichess_link_player(opponent)|raw }}
</div>
{% endif %}
