<h2 class="postNewTitle" id="reply">Reply to this topic</h2>
<form action="{% path "forum_topic_post_create" with ["categorySlug": topic.category.slug, "slug": topic.slug, "id": topic.id] %}#reply" method="post">
    <label><span class="required">Message</span>{{ form.message|render}}</label>
    {% if form.authorName %}
        <label><span>Author</span>{{ form.authorName|render(["class": "authorName"]) }}</label>
    {% endif %}
    <input type="submit" class="submit button" value="Reply" />
</form>
