{% extends "LichessBundle::layout.html.twig" %}
{% block stylesheets %}
{{ parent() }}
{% stylesheets
    '@LichessMessageBundle/Resources/public/css/message.css'
    filter="yui_css" %}
    <link href="{{ asset_url }}" type="text/css" rel="stylesheet" />
{% endstylesheets %}
{% endblock %}
{% block layout_content %}
<div id="lichess_message" class="content_box">{% block content %}{% endblock %}</div>
{% endblock %}
{% block menu_active %}message{% endblock %}
