{% extends "LichessBundle::layout.html.twig" %}
{% block stylesheets %}
{{ parent() }}
<link href="/bundles/lichessmessage/css/message.css" type="text/css" rel="stylesheet" />
{% endblock %}
{% block layout_content %}
<div id="lichess_message" class="content_box">{% block content %}{% endblock %}</div>
{% endblock %}
