div.hooks_wrap {
    position: absolute;
    width: 424px;
    height: 424px;
    top: 32px;
    left: 32px;
    padding: 12px;
    background: rgba(245,245,245,0.7);
    border-radius: 3px;
    box-shadow: 0 0 20px #444;
    background: -webkit-linear-gradient(top, rgba(212,212,212,0.8) 0%,rgba(240,240,240,0.5) 100%);
}
div.hooks_wrap.hidden {
    display: none;
}
div.hooks {
    border: 1px solid #cacaca;
    max-height: 424px;
    width: 424px;
    background: #f0f0f0;
    overflow: auto;
}
.hooks table {
    width: 100%;
    text-align: left;
    border-collapse: collapse;
    color: #666;
}
.hooks th {
    font-weight: bold;
    color: #999;
}
.hooks th, td {
    border-bottom: 1px solid #cacaca;
    padding: 12px 8px 12px 12px;
    margin: 0;
    white-space:nowrap;
}
.hooks tr:last-child td {
    border-bottom: none;
}
.hooks tr.empty {
    text-align: center;
}
.hooks tr.empty td {
    padding: 30px 0;
}
.hooks tbody tr {
    background: #fafafa;
    background: -moz-linear-gradient(center top , #fafafa, #dadada) repeat scroll 0 0 #fafafa;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fafafa), to(#dadada));
}
.hooks tr.joinable {
    cursor: pointer;
}
.hooks td.action {
    padding: 0 8px 0 0;
}
.hooks a.cancel {
    height: 32px;
    width: 32px;
    display: block;
    background: url(/bundles/lichess/images/close24.png) -0px no-repeat;
}
.hooks a.join {
    height: 32px;
    width: 32px;
    display: block;
    background: url(/bundles/lichess/images/play32.png) -0px no-repeat;
}
.hooks tr.joinable:hover {
    color: #fff;
    background: #d85000;
    background: -moz-linear-gradient(center top , #f49c00, #d85000) repeat scroll 0 0 #d85000;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f49c00), to(#d85000));
}
.hooks tr.my_hook {
    color: #405090;
    background: #c9dbee;
}
