div.hooks_wrap {
    position: absolute;
    width: 424px;
    height: 296px;
    top: 96px;
    left: 32px;
    padding: 12px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    box-shadow: 0 0 20px #444;
    -moz-box-shadow: 0 0 20px #444;
    -webkit-box-shadow: 0 0 20px #444;
    background: rgba(245,245,245,0.8);
    background: -moz-linear-gradient(top, rgba(212,212,212,0.9) 0%, rgba(240,240,240,0.5) 100%);
    background: -webkit-linear-gradient(top, rgba(212,212,212,0.9) 0%,rgba(240,240,240,0.5) 100%);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(212,212,212,0.9)), to(rgba(240,240,240,0.5)));
    background: -ms-linear-gradient(top, rgba(212,212,212,0.9) 0%,rgba(240,240,240,0.5) 100%);
}
div.hooks_wrap.hidden {
    display: none;
}
div.hooks {
    border: 1px solid #bababa;
    border-top: 0
}
div.hooks table {
    width: 100%;
    max-height: 424px;
    overflow: hidden;
    text-align: left;
    border-collapse: collapse;
    background: #f0f0f0;
    color: #666;
    border-top: 1px solid #bababa;
}
div.hooks table a {
    color: #666;
}
div.hooks table.empty_table {
    margin-top: 106px;
}
div.hooks td {
    border-bottom: 1px solid #bababa;
    padding: 14px 8px 14px 12px;
    margin: 0;
}
div.hooks tr:last-child td {
    border-bottom: none;
}
div.hooks table.empty_table tr {
    text-align: center;
    cursor: pointer;
}
div.hooks table.empty_table td {
    padding: 0;
    height: 80px;
}
div.hooks td.action {
    cursor: pointer;
    border-left: 1px solid #cacaca;
    width: 56px;
    padding: 0;
}
div.hooks a.cancel,
div.hooks a.join {
    height: 32px;
    width: 32px;
    display: block;
    padding: 12px 12px;
}
div.hooks a.cancel {
    background: url(/bundles/lichess/images/close24.png) +12px no-repeat;
}
div.hooks a.join {
    background: url(/bundles/lichess/images/play32.png) +12px no-repeat;
}
div.hooks tr.my_hook {
    color: #405090;
    background: #c9dbee;
}
