<form class="forum_search" action="{{ path("lichess_forum_search") }}" method="get">
    <input class="query" name="q" value="{{ app.request.query.get("q") }}" />
    <input class="submit" type="submit" value="&rarr;" />
</form>
