{% extends "LichessForumBundle::layout.html.twig" %}

{% block title %}Search in forum{% endblock %}

{% block content %}

<div class="search">
    <ol class="crumbs">
        <li><a href="{{ path("herzult_forum_index") }}">Forum</a></li>
        <li><h1>Search</h1></li>
    </ol>
    {% block results %}{% endblock %}
</div>

{% endblock %}
