<div id="incomplete_translation">
    <span class="percent">{{ status.percent}}%</span>
    <span class="name">{{ status.name }}</span>
    <a class="blank_if_play" href="{% path "lichess_translate_locale" with ["locale": locale] %}">Contribute to translation!</a>
    <a class="close">x</a>
</div>
