{% extends "LichessBundle:Translation:layoutTranslation.twig" %}
{% block title %}Help translate Lichess{% endblock %}
{% block content %}
<div class="lichess_box">
    <h1 class="lichess_title">Help translate Lichess!</h1>
    <div class="lichess_text">
        Lichess is OpenSource and needs contributors to get better.
        {% if error %}
            <div class="error">{{ error|raw }}</div>
        {% endif %}
        {% set notice %}{% flash "notice" %}{% endset %}
        {% if notice %}
            <div class="notice">{{ notice }}</div>
        {% endif %}
        <form action="{% path "lichess_translate_locale" with ["locale": locale] %}" data-change-url="{% path "lichess_translate_locale" with ["locale": "__"] %}" method="post">
            <div class="field">
                {{ form.code|render_label("Translate from english to") }}
                {{ form.code|render }}
            </div>
            {% block translation %}{% endblock %}
        </form>
        <hr />
        Big thanks go to all translators!
        <ul>
            <li><strong>French</strong> Thibault Duplessis</li>
            <li><strong>Russian</strong> Nikita Milovanov</li>
            <li><strong>Deutsch</strong> Patrick Gawliczek</li>
            <li><strong>Turkish</strong> Yakup Ipek</li>
            <li><strong>Serbian</strong> Nenad Nikolić</li>
            <li><strong>Latvian</strong> Anonymous</li>
            <li><strong>Bosnian</strong> Jacikka</li>
            <li><strong>Danish</strong> Henrik Bjornskov</li>
            <li><strong>Spanish</strong> FennecFoxz</li>
            <li><strong>Romanian</strong> Cristian Niţă</li>
            <li><strong>Italian</strong> Marco Barberis</li>
            <li><strong>Finnish</strong> Juuso Vallius</li>
            <li><strong>Ukrainian</strong> alterionisto</li>
            <li><strong>Portuguese</strong> Arthur Braz</li>
            <li><strong>polski</strong> M3n747</li>
            <li><strong>Dutch</strong> Kintaro</li>
            <li><strong>Vietnamese</strong> Xiblack</li>
            <li><strong>Swedish</strong> nizleib</li>
            <li><strong>Czech</strong> Martin</li>
            <li><strong>Slovak</strong> taiga</li>
            <li><strong>Magyar</strong> LTBakemono</li>
            <li><strong>Catalan</strong> AI8</li>
            <li><strong>Slovene</strong> Klemen Grm</li>
            <li><strong>Azerbaijani</strong> elçin məmmədzadə - amil isgəndərov</li>
            <li><strong>Norwegian Nynorsk</strong> Peropaal</li>
            <li><strong>Esperanto</strong> LaPingvino</li>
            <li><strong>Toki Pona</strong> jan Mimoku</li>
            <li><strong>Greek</strong> Tzortzakos Fivos</li>
            <li><strong>Arpitan</strong> Alex</li>
            <li><strong>Lithuanian</strong> Anonymous</li>
            <li><strong>Norwegian</strong> Anonymous</li>
            <li><strong>Estonian</strong> Anonymous</li>
            <li><strong>Armenian</strong> Network.am</li>
            <li><strong>Afrikaans</strong> secreteagle</li>
        </ul>
    </div>
</div>
{% endblock %}
