{% extends "LichessBundle::layout.html.twig" %}
{% block assets %}
{{ parent() }}
{% stylesheet 'bundles/lichess/css/translation.css' %}
{% javascript 'bundles/lichess/js/translation.js' %}
{% endblock %}
{% block layout_content %}
<div class="content_box">{% block content %}{% endblock %}</div>
{% endblock %}
