<div id="incomplete_translation">
    <span class="missing">Translation missing:</span>
    <span class="name">{{ name }}</span>
    <br />
    <a class="blank_if_play contribute" href="{{ path("lichess_translate_locale", {"locale": locale} ) }}">Contribute to translation!</a>
    <a class="close">x</a>
</div>
