{% extends 'LichessBundle::layoutCommon.html.twig' %}
{% block stylesheets %}
{{ parent() }}
<link href="/bundles/lichess/css/board.css" type="text/css" rel="stylesheet" />
{% endblock %}
{% block content %}
<div class="lichess_game_not_started clearfix lichess_player_white">
    <div class="lichess_board_wrap">
        {% include "LichessBundle:Main:staticBoard_white.html.twig" %}
    </div>
    {% include "LichessBundle:Game:bootGround.html.twig" with {"active": false} %}
</div>
{% endblock %}
{% block goodies %}
<br />
Play chess without hassles<br />
Do not register<br />
Do not install plugins<br />
Do not endure ads<br />
Lichess is free and opensource.
{% endblock %}
{% block menu_active %}play{% endblock %}
