<div class="fos_comment_thread_show">
    <h3>
        {% set count = thread.numComments %}
        {% transchoice count %}{0} Comment this game|{1} One Comment|]1,Inf] %count% Comments{% endtranschoice %}
    </h3>

    {% include "FOSComment:Comment:new.html.twig" with {"form": form, "first": 0 == thread.numComments} %}

    <div class="fos_comment_thread_comments">
        {% render "FOSComment:Comment:tree" with {"thread": thread} %}
    </div>

    <div class="fos_comment_reply_prototype">
        {% include "FOSComment:Comment:reply.html.twig" with {"form": form} %}
    </div>
</div>
