<div class="fos_comment_thread_show">

    <a title="{% trans "Follow these comments" %}" class="fos_comment_thread_feed" href="{{ path("fos_comment_thread_show_feed", {"identifier": thread.identifier}) }}"></a>

    <h3>
        {% set count = thread.numComments %}
        {% transchoice count %}
            {0} Comment this game|{1} One Comment|]1,Inf] %count% Comments
        {% endtranschoice %}
    </h3>

    {% include "FOSCommentBundle:Comment:new.html.twig" with {"form": form, "first": 0 == thread.numComments} %}

    <div class="fos_comment_thread_comments">
        {% render "FOSCommentBundle:Comment:tree" with {"thread": thread} %}
    </div>

    <div class="fos_comment_reply_prototype">
        {% include "FOSCommentBundle:Comment:reply.html.twig" with {"form": form} %}
    </div>
</div>
