{% extends "LichessBundle::layout.html.twig" %}
{% block stylesheets %}
{{ parent() }}
<link href="/bundles/lichessforum/css/forum.css" type="text/css" rel="stylesheet" />
{% endblock %}
{% block javascripts %}
{{ parent() }}
<script src="/bundles/lichessforum/js/forum.js"></script>
{% endblock %}
{% block layout_content %}
<div id="lichess_forum" class="content_box">{% block content %}{% endblock %}</div>
{% endblock %}
{% block menu_active %}forum{% endblock %}
