{% extends "Lichess::layout.html.twig" %}
{% block stylesheets %}
{{ parent() }}
<link href="{{ asset("bundles/lichessforum/css/forum.css") }}" type="text/css" rel="stylesheet" />
{% endblock %}
{% block javascripts %}
{{ parent() }}
<script src="{{ asset("bundles/lichessforum/js/forum.js") }}"></script>
{% endblock %}
{% block layout_content %}
<div id="lichess_forum" class="content_box">{% block content %}{% endblock %}</div>
{% endblock %}
{% block menu_active %}forum{% endblock %}
