{% extends "LichessBundle::layoutCommon.twig" %}
{% block assets %}
{% parent %}
{% stylesheet 'bundles/forum/css/forum.css' %}
{% endblock %}
{% block body %}
<div class="header">
    <h1><a class="site_title" href="{{ path('lichess_homepage') }}">Lichess</a></h1>
</div>
<div id="lichess_forum">
    {% block content %}{% endblock %}
</div>
{% endblock %}
