{% form_theme form form.getOption('theme') %}
<form action="{% path 'doctrine_user_user_create' %}" {{ form|render_enctype }} method="POST" class="doctrine_user_user_new">
    <ul>
        <li>
            {{ form.username|render }}
        </li>
        <li>
            {{ form.password|render }}
        </li>
        <li>
            <input type="submit" value="{% trans 'Create user' from 'DoctrineUserBundle' %}" />
        </li>
    </ul>
    {{ form|render_hidden }}
</form>
