<div class="security">
<form action="{% path "_security_check" %}" method="post">
    <input title="{% trans "Username" %}" type="text" class="username" name="_username" value="{{ last_username }}" />
    <input title="{% trans "Password" %}" type="password" class="password" name="_password" />
    <input type="submit" name="login" class="login" value="{% trans "Sign in" %}" />
</form>
or <a href="{% path "doctrine_user_user_new" %}">Sign up</a>
</div>
