<?xml version="1.0" encoding="UTF-8"?>

<container xmlns="http://symfony.com/schema/dic/services"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://symfony.com/schema/dic/services http://symfony.com/schema/dic/services/services-1.0.xsd">

    <services>
        <service id="lichess_message.security.interactive_login_listener" class="Application\MessageBundle\Security\InteractiveLoginListener">
            <argument type="service" id="lichess_message.cache" />
            <tag name="kernel.event_listener" event="security.interactive_login" method="listenToInteractiveLogin" priority="0" />
        </service>
        <service id="lichess_message.cache" class="Lichess\MessageBundle\Cache" />
    </services>

</container>
