{% extends "LichessBundle::layout.twig" %}
{% block assets %}
{% parent %}
{% stylesheet 'bundles/message/css/message.css' %}
{% endblock %}
{% block layout_content %}
<div id="lichess_message" class="content_box">{% block content %}{% endblock %}</div>
{% endblock %}
